mvn_toolkit_prefs.txt
*.nc
*.orb
*.docx
*.pyc
*.ipynb
*.egg-info/
*.tar.gz
*.tgz
/*.html
/.project
/.pydevproject
testing_lib/*/*.sav
models/sample_models/*.dat
models/sample_models/*.nc
models/sample_models/*.sav
docs/build/*
tests/
archive_tools/
dist/