include README.rst
include pydivide/docs/*.html
include pydivide/docs/*.txt
include pydivide/docs/*.pdf
include pydivide/docs/*.docx
include pydivide/orbitfiles/*.txt
include pydivide/basemaps/*.jpg
include pydivide/access.txt
exclude pydivide/mvn_kp_3d.py
exclude pydivide/mvn_toolkit_prefs.txt